.navbar
{
  display: flex;
  padding: 10px 80px;
  justify-content: center;
  gap: 40px;
}
.navbar .left
{
  display: flex;
}
.navbar .logo
{
  margin-left: 10%;
  margin-right: 10%;
}

.Search
{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./images/Banner.webp');
  background-repeat: no-repeat;
  background-size:cover;
}
body {
  display: block;
  margin: 0px;
}

h1{
  font-family: 'Times New Roman', Times, serif;
   color: white;
}
input
{
  padding: 20px 10px;
  width: 500px;
  border: none;
}
input:focus-visible
{
  outline: none;
}
.button
{
  padding: 10px;
  border: none;
  background-color: white;
  height:auto;
}
.bar
{
  display: flex;
  align-items: center;
  margin-left: -10px;
}
.Container
{
  margin-left: 300px;
  margin-right: 300px;
  line-height: 10px;
}
.Coursal
{
  overflow-x: scroll;
  scrollbar-width: 0px;
  scrollbar-color: transparent;
  overflow-y: none;
  display: flex;
  gap: 40px;
}
.Card
{
  background-color: white;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
